# Common
.git
.github
.vscode
.idea
.DS_Store
*.log
*.lock.json
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
venv
.venv
**/.venv
**/.pytest_cache
**/.ruff_cache
**/.coverage
**/htmlcov
**/pytest-report.xml

# Backend specific
**/.pytest_cache/
**/.ruff_cache/
**/mus_database.db

# Frontend specific
**/node_modules/
**/.svelte-kit/
**/build/
**/.npm
**/coverage/
**/npm-debug.log
**/.eslintcache
