{% if tracks %}
<div class="track-list">
  {% for track in tracks %}
  <div class="track-item" data-track-id="{{ track.id }}" data-title="{{ track.title }}"
    data-artist="{{ track.artist }}">
    <div class="track-text">
      <button class="play-button" data-playing="false"></button>
      <img loading="lazy" class="track-cover-small" src="{{ track.cover_small_url }}" alt="Cover for {{ track.title }}"
        width="40" height="40">
      <div class="track-details">
        <div class="track-title">{{ track.title }}</div>
        <div class="track-artist">{{ track.artist }}</div>
      </div>
    </div>
    <div class="track-duration">{{ track.duration // 60 }}:{{ "%02d" | format(track.duration % 60) }}</div>
  </div>
  {% endfor %}
</div>
{% endif %}
